*{
    padding:0;
    margin:0;
    box-sizing:border-box;
   /* overflow:hidden; */
  
   
}
:root{
    --pseudo-opacity:0;
    --pseudo-translate:translate(2px, -100%);
    --pseudo-translate-body:translate(1px,-100%);
    --pseudo-translate-sm:translate(1px,-100%);


}
body{
    display:flex;
    flex-direction:column;
    height:100vh;
    border:2px solid blue;
    align-items:center;
    position:relative;
}
body::after{
    content:"";
    display:block;
    position:absolute;
    width:100%;   
    height:100%;
    background:rgba(0,0,0,0.623);
    opacity:var(--pseudo-opacity);
    z-index:2;
    transform:var(--pseudo-translate-body);
}
.container{
    max-width:700px;
    width:90%;
    margin:auto;
}

.score-section{
    display:flex;
    justify-content:space-between;
    padding:0.5em;
    margin:1em 0;
    border:2px solid blue;
    border-radius:10px;
}
.score-card{
    width: 155px;
    height: 112px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border:1px solid red;
    border-radius:5px;
    
}
/* #################################################### Game section ############################### */
.game-sec{
    border:2px solid red;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:4em;
}
.scissor,.rock,.lizard,.spock,.paper{
    position:absolute;
    border:2px solid yellow;
    height: 150px;
    width: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;

}

.scissor{
    top:0;
}
.rock{
    transform: translateX(77px) translateY(113px);
}
.paper{
    transform: translateX(132px) translateY(-35px);
}
.lizard{
    transform: translateX(-83px) translateY(117px);
}
.spock{
    transform: translateX(-133px) translateY(-35px);
}

/* ########################################## rules section ################################# */
.rule-sec{
    display:flex;
    justify-content:flex-end;
    width:100%;
    cursor:pointer;
}
.rule-sec .rule{
    border:2px solid blue;
    padding:0.5em 2em;
    border-radius:5px;
    text-transform:uppercase;
}

/* #################################### overlay section ############################## */
.overlay-sec{
    max-width:400px;
    width:100%;
    height:500px;
    background:white;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1.5em;
    border-radius:10px;
    border:2px solid black;
    position:absolute;
   transform:var(--pseudo-translate);
    z-index:5;
    opacity:1;
}
.overlay-header{
display:flex;
justify-content:space-between;
margin-bottom:3em;
width:100%;
}
.overlay-header h2{
    text-transform:uppercase;
}
.close{
    cursor:pointer;
}
/* #################################################### media queries ############################ */

@media(max-width:1000px){
    .rule-sec{
        justify-content:center;
        margin-top:0em;
        margin-bottom:0.5em;
    }
}

@media(max-width:482px){
    .scissor,.rock,.lizard,.spock,.paper{
        height: 100px;
        width: 90px;
    
    }
    .container{
        width:100%;
    }
}
@media(max-width:482px){
    .overlay-sec{
        height:100%;
        justify-content:center;
        align-items:center;
        transform:var(--pseudo-translate-sm);

        }
        .overlay-header{
            height:100%;
            width:10%;
            flex-direction:column;
            justify-content:space-around;
            position:absolute;
            text-align:center;
        } 
        .overlay-header h2{
            position:relative;
            top: -35px;
            right: 15px;
        }
     .close{
        position: relative;
        top: 85px;
     }
}
